body {
    background-color: #f4f1e8;
    color: #9b4819;
    font-family: 'Times New Roman', Times, serif
}

.container {
    display:flex;
    width: 100%;
    height: 100vh;
    overflow: hidden; /*prevents scrolling*/
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    border-right: 2px solid #9b4819;
    position: fixed;
    top: 0;
    left: 0;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 50%;                    
    height: 100vh;
    margin-left: 50%;   /*positions itself on the equally to the right side*/
    overflow-y: auto;   /*for vertical scrolling*/
    padding-left: 10px;

}

.right-side-1 { 
    display: flex;
    flex-direction: column;
    height: auto;          /*so <p> can expand naturally*/
}

.right-side-2 {
    display: flex;
    flex-direction: column;
    height: auto;
}

.right-side-3 {
    display: flex;
    flex-direction: column;
    height: auto;
}

/*This is the left side*/
.photo {
    display: flex;
    justify-content: center;
    margin-top: 18%;
}

.photo img {
    width: 200px;
    height: 200px;
    object-position: center;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.name h1 {
    margin-bottom: 5px;  
}

.name p {
    margin-top: 0;       
    padding: 0;
    line-height: 1.5;    
}

.connect {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 10px;
}

/* CONTENTS- LEFT SIDE */
.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.connect {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}

/* CONTENTS- RIGHT SIDE */


/* ABOUT ME */
p { 
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.5;
}

/* EXPERIENCE */
.experience {
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1;
    margin-top: 1px;
    border-top: 2px solid #9b4819;
    border-bottom: 2px solid #9b4819;
}

.experience h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.expereince h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.experience ul {
    margin-left: 5px;
}

.experience li {
   line-height: 20px;
}

/* EDUCATION */
.education {
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1;
    margin-top: 1px;
}

.education h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.education h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.education ul {
    margin-left: 5px;
}

/* MEDIA QUERY*/ 

/*- if  the screen size gets smaller (mobile) these styles will apply*/    
   
@media screen and (max-width: 600px) {
    body {
        background-color: #f4f1e8;
        color: #9b4819;
    }

    .container {
        flex-direction: column
    }

    .photo img {
    width: 100px;
    height: 100px;
    object-position: center;
    }

    .name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    }

    .connect {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    text-align: center;
    }

    .socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    margin-top: 5px;
    }

}


/*if time permits, fin out how to organise this more efficiently*/

